body {
  background-color:lightgreen;
}
p { 
 color: gray;
}
a {
 color: blue;
}
ul {
 color: gray
}
.content{
  background-color:yellow;
  width:80%;
  margin: 0 auto;
  text-align:left;
  padding:25px;
  
}